.centered-content {
    min-height: 30%;
    color: #1f54a4;
}

.border-radius {
    border-radius: 10px;

    &-right {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.lists_section {
    height: 100%;
    
    .settings-icon {
        position: absolute;    
        right: 30px;
    }

    .lists-container button {
        border: none;
        background-color: rgb(242, 242, 242);
        margin-bottom: 5px;
        border-radius: 5px;
        cursor: pointer;
    
        p {
            color: #1f54a4;
            margin: 0;
        }
    
        &:hover {
            font-weight: bold;
            transition: ease-in-out .1s;
        }
        
        &.is-active {
            background-color: #A8EB12;
            font-weight: bold;
        }
    }

    .add-list {
        border: 2px solid #1f54a4;
    
        &:hover {
            border-color: #A8EB12;
        }
    }
}

.tasks_section {
    position: relative;
    .task {
        background: white;
        display: flex;
        align-items: center;
        padding: 15px;
        cursor: pointer;
        border-radius: 5px;
        transition: box-shadow 0.2s ease, transform 0.2s ease;
        width: 100%;
        z-index: 1;
        
        &:active {
            transform: scale(0.98);
        }
    
        .completed {
            text-decoration: line-through;
        }
    
        p {
            margin: 0;
        }
    
        mat-icon {
            border-radius: 5px;
            padding: 6px;
            height: 100%;
            width: 100%;
            font-size: 18px;
            transition: .2s ease-in-out;
            z-index: 10;
        }
    
        #delete_task {
            background-color: rgb(255, 77, 77);
            color: white;
        }
    }

    .add_task-button {
        position: absolute;
        border: none;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background-color: #1f54a4;
        color: white;
        font-size: 2rem;
        bottom: 10px;
        right: 20px;
    }
}

.logout-btn {
    padding: 0;
    background-color: #1f54a4;
    border: none;
        mat-icon {
        color: white;
        font-size: 20px;
        margin: 0;
    }
}

#logout-desktop {
    display: none;
}

@media(min-width: 576px) {

    .lists_section {
        .settings-icon {
            position: unset;
        }
    }

    .tasks_section {
        height: 100%;
        .task {
            &:hover {
                box-shadow: 0 0 0 2px #dadada;
                mat-icon {
                    opacity: 1;
                    box-shadow: 0 0 0 3px #e9e9e9;
                    transform: scale(1);
                }
            }
        
            mat-icon {
                opacity: 0;
                transform: scale(0.8);
            }
        }
    }

    .logout-btn {
        position: absolute;
        top: 15px;
        right: 25px;
        padding: 0;
        background-color: unset;
    
        mat-icon {
            color: #1f54a4;
            font-size: 20px;
            margin: 0;
        }
    }

    #logout-desktop {
        display: unset;
    }

    #logout-mobile {
        display: none;
    }

    .add_task-button {
        right: 50px;
    }
}