@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.centered-content {
    height: 100%;
    color: #1f54a4;
    width: 90%;
}

form {
    background-color: rgb(242, 242, 242);
    border-radius: 8px;

    button {
        background-color: #1f54a4;
        color: white;
    }
}